
.content-The Leary Group{
  background-image: url("http://www.pptbackgrounds.org/uploads/silver-light-blue-wave-abstract-backgrounds-powerpoint.jpg");
  background-size: cover;
}


h5 {
 text-align:center;
}
