h5 {
 text-align:center;
}

h2 {
  text-align:center;
  font-variant: small-caps;	
}


body{ 
 font-variant: small-caps;
 background:<img style="user-select: none; cursor: zoom-in;" src="http://netdna.webdesignerdepot.com/uploads/2015/07/infinite-css-scrolling-background.jpg" width="365" height="252">;
}

 h3{   border-bottom: 3px solid #999;
}

#container {
    width: 800px;
    margin: 40px auto 60px;
}
 
